:root {
  --color-background: #12141d;
  --color-text-main: #80859c;
  --color-container-main-bg: #1b1e2b;
  --color-container-secondary-bg: #202330;
  --color-container-tertiary-bg: #2a2d3a;
  --color-container-tertiary-highlight-bg: #333847;
  --color-orange: #dc9b20;
  --color-orange-rgb: 220, 155, 32;
  --color-highlight: #5b6076;
  --color-accent: #3982f7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: var(--color-text-main);
  background: var(--color-background);
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
